

.background{height:1500px;
width:100%;
  background-image: linear-gradient(white,#FF7BAC);

padding-bottom:100px}

header{padding-left:37%;
font-size:2.0rem;
padding-bottom: 5%}

.text{padding-top:3%;}
p{width:45%;
padding-left:27%;
font-size:1.5rem;
height:auto;

}